
.carousel-inner {
     box-shadow: 1px 0px 20px #000!important; 
         background-color: #fff;
}

#slider-thumbs a.thumbnail {
    background-color: $white !important;
}
#slider-thumbs a.thumbnail :hover {
    background-color: transparent !important;
}
#slider-thumbs li :hover {
    background-color: #c3c3c3 !important;
}

#slider-thumbs li a {
    background-color: $white !important;
}



